/*This is a css stylesheet for myprofile */

/*element styles*/

* {
  box-sizing: border-box;
}

h1 {
  color:orangered;
  margin-top: 0;
}

p, ul {
    color:red;
    background-color: lightseagreen;
    border: thin solid black;
    height: 200px;
    width: 200px;
}

h2 {
  color:orangered;
}


/*class styles*/

.main-header {
  color: white;
  background-color: lightsalmon;
  text-align: center;
}

.main-footer {
  color: black;
  background-color: slategrey;
}

.container { 
  padding-left: 1em;
  padding-right: 1em;
}

/*Media Queries*/

@media (min-width: 769px) {
 .container {
    width: 70%;
    margin: 0 auto;
    max-width: 1000px;
 }
}