/*This is a css stylesheet for myprofile */

/*element styles*/
h1 {
  color:orangered;
}

p, ul {
    color:red;
    background-color: lightseagreen;
    border: thin solid black;
    height: 200px;
    width: 200px;
}

h2 {
  color:orangered;
}
